.console {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 30vw;
    max-width: 30vw;
    height: 30vh;
    max-height: 30vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    padding: 10px;
    row-gap: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    min-height: 100px;
    background-color: #f5f5f5;
    justify-content: space-between;
    overflow-x: auto;
}

.input-textarea{
    width: 100%;
    height: 100%;
    min-height: 30px;
    box-sizing: border-box;
    resize:vertical;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
}

.output-terminal {
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    list-style-type: none;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    text-align: start;
    height: 100%;
    max-height: 40vh;
    background-color: black;
    justify-content: space-between;
    overflow: auto;
}

.output-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    color: white;
    word-break: break-all;
    font-family: 'Courier New', Courier, monospace;
    font-size:x-small;
    font-weight: bold;
}

.buttons{
    display: flex;
    gap: 10px;
}

.command-button{
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: gray;
    color: white;
    font-size: rem;
    cursor: pointer;
    transition: 0.3s;
}

.command-button:hover {
    background-color: lightgray;
    color: black;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    color: #5cb85c;
    word-break: break-all;
    font-family: 'Courier New', Courier, monospace;
}

.info p{
    margin: 0;
    font-weight: bold;
}

.info-error{
    color: red;
}

.info-loading{
    color: orange;
}