/* FileList.css */
.file-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 30vh;
    max-height: 30vh;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.file-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    min-height: 40px;
    overflow-x: auto;
    opacity: 0.8;
}

.file-item.actived {
    overflow: visible;
    height: auto;
}

.name-and-buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.buttons{
    display: flex;
    gap: 10px;
    min-width: 185.3px;
    justify-content: end;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    color: #5cb85c;
    word-break: break-all;
    font-family: 'Courier New', Courier, monospace;
    background-color: #ffffff;
}

.info p{
    margin: 0;
    font-weight: bold;
}

.info-error{
    color: red;
}

.info-loading{
    color: orange;
}