.heading{
    position: sticky;
    z-index: 100;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    border-bottom: 1px solid #d6d6d6;
    background-color: #f5f5f5;
    overflow-x: auto;
    opacity: 0.9;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.12); /* subtle shadow for depth */
}

.logo{
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 50%;
    border: 0.5px solid #d6d6d6;
    transition: all 0.3s ease;
}

.logo:hover{
    cursor: pointer;
    filter: brightness(1.1);
    transform: scale(1.1);
}

.services{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 30px;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    overflow: auto;
    background-color: #f5f5f5;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.services-show{
    opacity: 1;
    overflow-x: auto;
}

.server-container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.server-container.logo5 {
    right: 2px;
}

.server-title{
    font-weight: 600;
}

.divider{
    width: 1px;
    height: 70px;
    background-color: #d6d6d6;
}
