.logo-and-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    transition: 0.5s ease-in-out;
    transform: translateX(0%);
    flex-shrink: 1;
}

.logo-and-title.hidden {
    transform: translateX(-5%);
    opacity: 0.25;
    flex-shrink: 1;
}

.Serverlink {
    color: rgb(1, 173, 15);
    text-decoration: none;
    transition: color 0.3s;
}

.Serverlink.notConnected {
    color: rgb(210, 0, 0);
}

.Serverlink:hover,
.Serverlink:focus {
    text-decoration: underline;
}