.processing {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 1rem;
}

.processing-form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: auto;
    grid-gap: 1rem;
    text-align: start;
    margin-left: 1rem;
    border-radius: 5px;
    border: #cccccc 1.5px solid;
    padding: 1rem;
    padding-bottom: 0;
    max-height: 62vh;
    min-height: 62vh;
    overflow-y: auto;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

.processing-form:hover{
    box-shadow: 0 0 15px #000000;
    transition: 0.3s;
}

.processing-info{
    grid-column: span 1;
    margin: 0;
    font-family: none;
}

.processing-env, 
.processing-port{
    height: 1.5rem;
    font-size: 1rem;
}

.processing-select{
    grid-column: span 3;
    font-size: 1rem;
}

.processing-checkbox-label{
    grid-column: span 1;
    display: flex;
    justify-content: start;
    align-items: center;
}

.processing-checkbox{
    margin: 5px;
    margin-left: 0;
}

.processing-add-and-remove{
    grid-column: span 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.processing-add{
    height: 1.8rem;
    width: 3.8rem;
    border-radius: 5px;
    font-size: 1.5rem;
    justify-self: end;
    background-color: #ffffff;
}

.processing-add:hover{
    box-shadow: 0 0 5px #000000;
    cursor: pointer;
}

.processing-label{
    grid-column: span 1;
}

.processing-volume{
    grid-column: span 2;
    height: 1.5rem;
    font-size: 1rem;
}

.processing-input{
    grid-column: span 3;
    height: 1.5rem;
    font-size: 1rem;
}

.processing-command{
    grid-column: span 3;
    height: 4rem;
    text-wrap:pretty;
    font-size: 1rem;
}

.processing-buttons{
    grid-column: span 4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    bottom: 0;
    padding: 1rem;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 5px #000000;
}

.processing-button{
    height: 2rem;
    width: 20rem;
    border: #ccc 1px solid;
    border-radius: 5px;
    background-color: #ffffff;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
}

.processing-button:hover{
    box-shadow: 0 0 5px #000000;
}

#processing-terminal{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1.5px solid #000000;
    border-radius: 8px;
    margin-right: 1rem;
    /* max-width: 56vw; */
    width: 56vw;
    /* min-width: 56vw; */
    height: 64vh;
    box-sizing: border-box;
    overflow: auto;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    text-align: left;
    opacity: 0.9;
}

#processing-terminal:hover{
    box-shadow: 0 0 15px #000000;
    transition: 0.3s;
}

.resizer {
    width: 5px;
    background: #d1d1d1;
    cursor: col-resize;
    height: 64vh;
    border-radius: 5px;
}

.resizer:hover,
.resizer:active {
    background-color: #000000;
}

.processing-form, #processing-terminal {
    flex-grow: 1;
}
