#terminal{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1.5px solid #000000;
    border-radius: 8px;
    width: 95vw;
    height: 40vh;
    max-height: 40vh;
    box-sizing: border-box;
    overflow: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    text-align: left;
    opacity: 0.9;
}

.xterm{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.xterm span{
    font-weight: bolder !important;
}

.xterm .xterm-bg-257{
    display: none !important;
}

.xterm-viewport{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.xterm-screen {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: #000000;
}

.xterm-rows{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}


